.left-panel-container {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 1.5rem;
    gap: 1rem;
}

.left-panel-switches-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 460px) {
    .left-panel-switches-container {
        grid-template-columns: 1fr;
    }
}

.times-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 460px) {
    .times-input-container {
        grid-template-columns: 1fr;
    }
}

.time-input {
    flex: 1;
}

.channel-index-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.channel-index-input-radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.channel-index-radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 0.5rem; */
}

.channel-selection-intermediate-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (max-width: 460px) {
    .channel-selection-intermediate-container {
        grid-template-columns: 1fr;
    }
}

.channel-index-input {
    width: 100%;
}

.channel-selection-note {
    font-size: 0.8rem;
    color: var(--slight-light-text);
}

.channel-selection-advanced-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
