.profile-icon {
    margin-right: 8px;
}

.modal-header-container {
    padding-bottom: 1.5rem;
}

.modal-heading {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.modal-header-description-container {
    display: flex;
    width: 100%;
}

.modal-header-description {
    font-size: 0.875rem;
    /* margin: 0 1.5rem; */
}

.modal-header-description-light {
    color: var(--slight-dark-text);
}

.modal-header-description-dark {
    color: var(--slight-light-text);
}
