Package: streamstorm
Version: 3.5.2
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Ashif (DarkGlance) <darkglance.developer@gmail.com>
Depends: python3-pyqt5, python3-pyqt5.qtwebengine, python3-pyqt5.qtwebchannel, libqt5webkit5-dev, python3-xlib, scrot, python3-tk, python3-dev
Description: StreamStorm - Bot to Spam messages on YouTube Live Stream Chat
